html
{

}

#cursor
{
	position:absolute;
	left: 256px;
	top: 256px;
}
#player
{
	width:100%; height:100%;
	position: relative;
	z-index:-1;position: fixed;
}

body
{
	//overflow: hidden;
	z-index: -99;

}

#info
{
	position: absolute;
	float: right;
	width: 100%;
	height: 64px;
	margin: 0 0 0 0;
	border: 1px black solid;
	z-index:-1;
}
